<%= form_tag projects_path, :method => 'get',id:'projectFilterForm', class:"row w-50 m-auto shadow p-5 rounded bg-info" do %>
    <div class="col-6">
        <div class="form-group">
          <%=label params[:company],:company %>
          <%=collection_select params[:company],:company,Company.all,:id,:business_name,:prompt=>true , class:"form-control"%>
        </div>

    </div>
    <div class="col-6">
        <div class="form-group">
          <%=label params[:user],:user %>
          <%=collection_select params[:user],:user,@users,:id,:last_name,:prompt=>true , class:"form-control"%>
        </div>
    </div>
  <div class=" d-flex align-items-end flex-column ">
    <%=submit_tag "Search", :class=> "btn btn-primary btn-sm"%>
  </div>
<% end %>


