<tr>
  <th scope="row"><%=project.external_id%></th>
  <td><%=project.user.last_name%></td>
  <td><%=project.project_domain%></td>
  <td><%=project.description%></td>
  <td>@<%=project.budget%></td>
  <td>@<%=project.time_estimate%></td>

</tr>